{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  <h3>Приветствуем вас на нашей образовательной платформе!</h3>

  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              {% comment %} Notes {% endcomment %}
              задачки
            </h5>
            {% comment %} Create Notes to refer them later. They are stored permanently until deleted {% endcomment %}
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/homework.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Уроки
            </h5>
            {% comment %} Add homeworks and assign them deadlines. They will be displayed prioritised by deadlines {% endcomment %}
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/youtube.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
             Поиск обучающих видео
            </h5>
            поиск видео
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/todo.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              список задач
            </h5>
            {% comment %} Add your to-do lists for your day and remove them as you finish {% endcomment %}
          </div>
        </div>
      </a>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-md-3 ">
      <a href="#">
        <div class="card mt-20">
          <img class="card-img-top" src="{% static 'images/books.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
           Литература
            </h5>
            Чтение литературы
          </div>
        </div>
      </a>
    </div>



    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/dictionary.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
             Переводчик
            </h5>
            {% comment %} A vocabulary from a book is troubling you? No problem, enter the word, and the meaning will be displayed
            almost instantaneously. {% endcomment %}
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/wiki.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
             Википедия
            </h5>
            {% comment %} Homework and Assignments? Search wikipedia to get fast results {% endcomment %}
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/conversion.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
             Математика наше все
            </h5>
            {% comment %} Check out the conversion table, that helps you to convert measurements to more familiar ones of your choice. {% endcomment %}
          </div>
        </div>
      </a>
    </div>
  </div>


</section>
{% endblock content %}